body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  float: right;
  color:white;
  background-color: darkgrey;
  border-style: hidden;
  border-radius: 10px;
}

h3 {
  color: white;
}

input {
  width: 90%;
  margin: 0.5rem;
  border-radius: 10px;
  line-height: 0.2rem;
  padding: 10px;
}

textarea {
  width: 90%;
  margin: 0.5rem;
  border-radius: 10px;
  line-height: 2.5rem;
  padding: 10px;
}

.comment-box {
  background-color: lightslategrey;
  text-align:center;
  padding: 0.1rem 1rem 2rem 1rem;
}

.comment-count {
  color: linen;
  text-align-last: left;
}

.comment-list {
  text-align-last: left;
}

.comment-body {
  color: white;
}

.comment-header {
  display: inline-flex;
  color: white;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
  width: 100%;
}

.comment-header p {
  width: 70%;
}

.comment-header a {
  color: linen;
  font-size: smaller;
  margin-top: 3%;
}
